<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="card-body">
    <div *ngFor="let field of fields" class="form-row form-group">
      <app-field [field]="field" [form]="form" style="width:100%;"></app-field>
    </div>
  </div>

  <div *ngIf="!isNew || form.valid then showFooter"></div>

  <ng-template #showFooter>
    <div class="card-footer d-flex justify-content-end">
      <div *ngIf="!isNew then showDelete"></div>
      <ng-template #showDelete>
        <button (click)="delete()" class="btn bg-transparent text-danger">
          <span class="fa fa-times"></span> Delete
        </button>
      </ng-template>

      <div *ngIf="form.valid && form.touched then showSubmit"></div>
      <ng-template #showSubmit>
        <button type="submit" [disabled]="!form.valid" class="btn bg-transparent text-success">
          Save <span class="fa fa-check"></span>
        </button>
      </ng-template>
    </div>
  </ng-template>

</form>
